#mainView{
  .navbar-brand{
    background: url("./../img/logoDesktopApp.png") no-repeat;
    background-size:140px;
    background-position: 0 0;
    height: 65px;
    width:150px;
    display: block;
    text-indent: -1000em;
  }
}