<div class="navbar-wrapper">
    <div class="container">
        <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header col-lg-3">
                    <a id="goHome" class="navbar-brand iso" href="#">Starmeup</a>
                </div><!-- navbar-header -->
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">

                        <li class=""><a href="#" class="meHome"><i class="fa fa-home fa-1x"></i>Home</a></li>
                        <li class=""><a href="#" class="leaderBoard"><i
                                class="fa fa-bar-chart fa-1x"></i>LeaderBoard</a></li>
                        <li class="active"><a href="#" class="meProfile"><i class="fa fa-user fa-1x"></i>Me</a></li>

                    </ul>
                    <ul class="nav navbar-nav navbar-right icovar">
                        <li id="notificationList" class="dropdown">
                            <a href="#" id="notificationPanel" class="dropdown-toggle ico-comment"
                               data-toggle="dropdown" role="button" aria-expanded="false">
                                <i class="fa fa-comment fa-1x"></i>
                                <span class="caret"></span>
                                <span id="totalNotifications" class="alert-msj hide">0</span>
                            </a>
                            <ul id="notifications" class="dropdown-menu"><!-- <div id="notification-list"> -->
                                <li class="down-clear">
                                    <a href="#" id="readAllNotifications" class="readClear"
                                       data-i18n="[html]translation:notification.readAll">Read All</a>
                                    <br>
                                    <br>
                                    <!--<a href="#" id="clearAllNotifications" class="clear" data-i18n="[html]translation:notification.clearAll"> Clear all</a>-->
                                </li>
                                <!-- </div> -->


                            </ul>
                        </li>
                        <li id="languageList" class="dropdown configuration"><a href="#" class="dropdown-toggle"
                                                                                data-toggle="dropdown" role="button"
                                                                                aria-expanded="false">en <span
                                class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">

                                <li><a class="js-leng selected" data-id="1" href="#"><i style=""
                                                                                        class="fa fa-check"></i>English</a>
                                </li>

                                <li><a class="js-leng" data-id="2" href="#">Spanish</a></li>

                                <li><a class="js-leng" data-id="3" href="#">Portuguese</a></li>

                            </ul>
                        </li>
                        <li id="settingListId" class="dropdown configuration">
                            <a href="#" class="dropdown-toggle ico-configuration" data-toggle="dropdown" role="button"
                               aria-expanded="false">
                                <i class="fa fa-cog fa-1x"></i><span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#" class="js-editProfile"
                                       data-i18n="[html]translation:home.dropdown-menu.myProfile">My Profile</a></li>

                                <li><a href="#" class="js-animation"
                                       data-i18n="[html]translation:home.dropdown-menu.animation">Star mapping</a></li>


                                <li>
                                    <div class="divider"></div>
                                </li>


                                <li><a href="#" class="js-dashBoard"
                                       data-i18n="[html]translation:home.dropdown-menu.dashboardPanel">Dashboard
                                    Panel</a></li>


                                <li><a href="#" class="js-analytics"
                                       data-i18n="[html]translation:home.dropdown-menu.analytics">Usage statistics</a>
                                </li>


                                <li><a href="#" class="js-reports"
                                       data-i18n="[html]translation:home.dropdown-menu.reports">Reports</a></li>


                                <li>
                                    <div class="divider"></div>
                                </li>
                                <li><a href="#" class="js-adminPanel"
                                       data-i18n="[html]translation:home.dropdown-menu.administratorPanel">Admin
                                    Panel</a></li>
                                <li><a href="#" class="js-rolesPanel"
                                       data-i18n="[html]translation:home.dropdown-menu.rolesAdministratorPanel">Permission</a>
                                </li>
                                <li><a href="#" class="js-uploadUsers"
                                       data-i18n="[html]translation:home.dropdown-menu.uploadUsers">Users Upload</a>
                                </li>


                                <li>
                                    <div class="divider"></div>
                                </li>
                                <li><a href="#" class="js-editStarPanel"
                                       data-i18n="[html]translation:home.dropdown-menu.administratorStarPanel">Organization
                                    Values</a></li>

                                <!--  -->

                                <li><a href="#" class="hide" data-i18n="[html]translation:home.dropdown-menu.editGroup">Edit
                                    Group</a></li>
                                <li><a href="#" class="hide"
                                       data-i18n="[html]translation:home.dropdown-menu.help">Help</a></li>
                                <li>
                                    <div class="divider"></div>
                                </li>
                                <li><a href="#logout" data-i18n="[html]translation:home.dropdown-menu.logout">Close
                                    session</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div><!-- container -->
</div>

<!-- navbar-wrapper -->

<section id="searchSection" class="bg-search" style="display: block;">
    <div class="col-lg-3 js-search-people"></div>
    <div class="col-lg-6 js-search-people">
        <div class="col-lg-12">
            <div id="generalSearch" style="width: 560px;margin-left: auto;margin-right: auto;" class="search-stellar">
                <span class="twitter-typeahead"
                      style="position: relative; display: inline-block; direction: ltr;"><input
                        style="width: 100%; margin-left: 0px; margin-right: 0px; position: absolute; top: 0px; left: 0px; border-color: transparent; box-shadow: none; opacity: 1; background: none 0% 0% / auto repeat scroll padding-box border-box rgb(255, 255, 255);"
                        class="typeahead tt-hint" type="text" autocomplete="off" data-provide="typeahead" readonly=""
                        spellcheck="false" tabindex="-1"><input id="generalSearchInput" placeholder="Search for people"
                                                                style="width: 100%; margin-left: 0px; margin-right: 0px; position: relative; vertical-align: top; background-color: transparent;"
                                                                class="typeahead tt-input" type="text"
                                                                autocomplete="off" data-provide="typeahead"
                                                                spellcheck="false" dir="auto"><pre aria-hidden="true"
                                                                                                   style="position: absolute; visibility: hidden; white-space: pre; font-family: opensans-regular; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; word-spacing: 0px; letter-spacing: 0px; text-indent: 0px; text-rendering: auto; text-transform: none;"></pre><span
                        class="tt-dropdown-menu"
                        style="position: absolute; top: 100%; left: 0px; z-index: 100; display: none; right: auto;"><div
                        class="tt-dataset-users"></div></span></span>
                <a href="#" class="ico-search"><i class="fa fa-search fa-2x"></i></a>
            </div>
        </div>
    </div><!-- col-lg-6 -->
    <div class="col-lg-3 js-search-people"></div>
</section>

<!-- bg-search -->

<div class="container margin-box">
    <div ui-view></div>
</div>